*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors.scss";
@import "partials/layout.scss";
@import "partials/typography.scss";
@import "partials/buttons.scss";
@import "partials/spacing.scss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;

  scroll-behavior: smooth;
  background-color: #1a1a1a;
  
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

@import "partials/menu.scss";
@import "partials/swipper.scss";
@import "partials/icons.scss";
@import "partials/footer.scss";
@import "partials/animations.scss";
